{% extends 'base.html' %}
{% block content%}
<form action="" method="POST">
    {% csrf_token %}
    <div class="mt-2 p-2">
        {% if error %}
        <div class="alert alert-warning"> {{error}}</div>
        {% endif%}
        <div class="row ">
            <div class="col-md-4 mb-3">
                <label for="id_origin_country" class="form-label uppercase">{{ form.account.label }}</label>
                {{ form.account}}
            </div>
            <div class="col-md-4 mb-3">
                <label for="id_destination" class="form-label">{{ form.category.label }}</label>
                {{ form.category}}
            </div>
            <div class="col-md-4 mb-3">
                <label for="id_destination" class="form-label">{{ form.type_of_transaction.label }}</label>
                {{ form.type_of_transaction}}
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 mb-3">
                <label for="id_origin_country" class="form-label uppercase">{{ form.Amount.label }}</label>
                {{ form.Amount}}
            </div>
            <div class="col-md-4 mb-3">
                <label for="id_destination" class="form-label">{{ form.description.label }}</label>
                {{ form.description}}
            </div>
            <div class="col-md-4 mb-3 mt-2">
                <label for="id_destination" class="form-label">{{ form.status.label }}</label>
                {{ form.status}}
            </div>
        </div>
    </div>

   <div class="d-flex">
        <button type="submit" class="btn btn-sm btn-primary offset-6">Submit</button>
    <a href="{% url 'transactions' %}" class="btn btn-sm btn-danger ms-3">Cancel </a>
   </div>
</form>
{% endblock content%}